{{> layout/head }}

{{#alert}}
    {{> alert }}
{{/alert}}

<section>
    <h1>{{ username }}</h1>
    <form action="/account" method="post">
        <fieldset>
            <legend>Account Information</legend>
            <p>
                <label for="username">Username</label> <br>
                <input type="text" name="username" id="username" value="{{ username }}" required>
            </p>
            <p>
                <label for="birthday">Date of Birth</label> <br>
                <input type="date" name="birthday" id="birthday" value="{{ birthday }}">
            </p>
        </fieldset>
        <fieldset>
            <legend>Interests</legend>
            <p>
                <label for="interest">Interest</label> <br>
                <input type="text" name="interest" id="interest" value="">
            </p>
            <section id="interests">
                {{#interests}}
                    <div class="interest">{{ . }}</div>
                {{/interests}}
            </section>
        </fieldset>
        <button type="submit">Update</button>
    </form>
</section>

{{> layout/footer }}
