{{> layout/head }}
{{#alert}}
  {{> alert }}
{{/alert}}
<div class="layout-container reversed">
  {{> layout/sidebar }}

  <div class="dogs">
    {{#dogs}}
      <div class="dog" style="background-image: url({{img}})">
        <div class="info">
          <span class="name">{{name}}</span>
        </div>
      </div>
    {{/dogs}}
    {{^dogs}}
      No dogs found.
    {{/dogs}}
  </div>
</div>
{{> layout/footer }}
