{{> layout/head }}
{{#alert}}
  {{> alert }}
{{/alert}}
<div class="layout-container reversed">
  {{> layout/sidebar }}
  <div class="dogs">Javascript needs to be enabled in order to view the dogs.</div>
</div>
{{> layout/footer }}
