{{> layout/head }}

<section class="login-container">
    <header>
        <h1>Inloggen</h1>
    </header>
    {{#alert}}
        {{> alert }}
    {{/alert}}
    <form action="login" method="post">
        <fieldset>
            <legend>Account Information</legend>
            <p id="emailSection">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="{{email}}" required>
                <p class="error"></p>
            </p>
            <p id="passwordSection">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </p>
            <p class="controls">
                <button type="submit" id="loginBtn">Log In</button>
            </p>
        </fieldset>
    </form>
    <footer>
        <a href="register">Nog geen account?</a>
    </footer>
</section>

{{#alert}}
{{/alert}}
{{^alert}}
<script src="/js/login.js" defer></script>
{{/alert}}

{{> layout/footer }}
