{{> layout/head }}

{{#alert}}
    {{> alert }}
{{/alert}}

<section>
    <h1>Login</h1>
    <form action="/login" method="post">
        <fieldset>
            <legend>Account Information</legend>
            <p>
                <label for="username">Username</label> <br>
                <input type="text" name="username" id="username" required>
            </p>
            <p>
                <label for="password">Password</label> <br>
                <input type="password" name="password" id="password" required>
            </p>
            <button type="submit">Log In</button>
        </fieldset>
    </form>
    <a href="/register">Not yet an account?</a>
</section>

{{> layout/footer }}
