body {
    margin: 0;
    font-family: proxima-soft, "Helvetica Neue", sans-serif;
    background-color: #F5F5F5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 1200px;
    margin: 36px auto;
}

.dogs {
    display: flex;
}

.dogs h2 {
    padding: 12px;
    margin: 0;
    text-transform: capitalize;
}

.alert {
    background-color: #FFF7C7;
    color: #927000;
    padding: 12px 48px 16px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;
    width: fit-content;
}

.alert p {
    margin: 6px 0 0 0;
}

#interests {
    display: flex;
}

.interest {
    padding: 6px 16px;
    margin-right: 8px;
    background: #85cac8;
    border-radius: 15px;
    font-size: 12px;
}

label {
    font-weight: 600;
}

fieldset {
    border: none;
    padding: 0;
}

fieldset legend {
    display: none;
}

input {
    padding: 15px 36px 16px 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

::placeholder {
    color: #AAAFAF;
}

button {
    padding: 14px 21px 13px 21px;
    font-weight: 600;
    background-color: #0143F9;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .16);
    cursor: pointer;
}

a {
    color: black;
}
